.main{
    padding-top: 10px;
}

textarea { 
    resize: none; 
}

.thanks hr, h1{
    padding: 5px;
    margin: 0;
}

.thanks{
    padding: 0;
    margin: 0;
    display: none;
}

.spam{
    padding-top: 10px;
    display: none;
}

#sendBtn{
    margin-left: 35px;
    margin-top: 30px;
}