.main{
    padding-top: 10px;
}

textarea { 
    resize: none; 
}

.thanks hr, h1{
    padding: 5px;
    margin: 0;
}

.thanks{
    padding: 0;
    margin: 0;
    display: none;
}

 td.center{
    text-align: center;
}